<template>
    <div id="app">
        <Header />
        <ContactList
            @showForm="showForm"
            @newContact="editContact"
            @modifyContact="modifyContact"
            @eraseContact="eraseContact"
            :contactList="contactos"
        />
        <ContactForm v-if="showScreenForm" :contact="selectedContact" @showForm="showForm"></ContactForm>
        <ContactCreate
            v-if="showScreenEdit"
            :selectedContact="selectedContact"
            @clickSaveButton="saveContactData"
        />
        <Footer />
    </div>
</template>

<script>
import Vue from 'vue'
import VueRouter from 'vue-router'

import Header from './components/Header.vue'
import ContactList from './components/ContactList.vue'
import ContactForm from '@/components/ContactForm.vue'
import ContactCreate from '@/components/ContactCreate.vue'
import Footer from './components/Footer.vue'
import { v4 as uuidv4 } from 'uuid'

export default {
    name: 'App',
    components: {
        Header,
        ContactList,
        ContactForm,
        ContactCreate,
        Footer,
    },
    data() {
        return {
            contactos: [],
            selectedContact: {
                name: null,
                surname: null,
                email: null,
                mobile: null,
            },
            showScreenForm: false,
            showScreenEdit: false,
            url: '/api/contacts',
        }
    },
    mounted: function() {
        this.onLoadingPage() //method1 will execute at pageload
    },
    methods: {
        async onLoadingPage() {
            this.contactos = await this.loadContactList()
        },
        async loadContactList() {
            let api_result
            api_result = await fetch(this.url)
            this.contactList = await api_result.json()
            return this.contactList
        },
        async postContact(contact) {
            await fetch(this.url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id_contact: uuidv4(),
                    name: contact.name,
                    surname: contact.surname,
                    email: contact.email,
                    mobile: contact.mobile,
                }),
            }).then(response => response.json())
        },
        hideAllScreen() {
            this.showScreenForm = false
            this.showScreenEdit = false
        },
        editContact() {
            ;(this.selectedContact = {
                name: null,
                surname: null,
                email: null,
                mobile: null,
            }),
                this.hideAllScreen()
            this.showScreenEdit = true
        },

        async saveContactData(contact, type) {
            console.log('saveContactData', type)
            if (type == 'new') {
                console.log('NEW')
                await this.postContact(contact)
            } else {
                console.log('OLD')
                await this.apiModify(contact)
            }
            this.hideAllScreen()
            this.contactos = await this.loadContactList()
        },

        showForm(contact) {
            this.hideAllScreen()
            this.showScreenForm = true
            this.selectedContact = contact
        },
        async deleteContact(id_contact) {
            this.completeURL = this.url + '/' + id_contact

            await fetch(this.completeURL, {
                method: 'DELETE',
            }).then(response => response.json())
        },
        async eraseContact(contact) {
            await this.deleteContact(contact.id_contact)
            this.onLoadingPage()
        },
        async modifyContact(contact) {
            this.hideAllScreen()
            this.showScreenEdit = true
            this.selectedContact = contact
        },
        async apiModify(modifyContact) {
            this.completeURL = this.url + '/' + modifyContact.id_contact
            await fetch(this.completeURL, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id_contact: modifyContact.id_contact,
                    name: modifyContact.name,
                    surname: modifyContact.surname,
                    email: modifyContact.email,
                    mobile: modifyContact.mobile,
                }),
            }).then(response => response.json())
        },
    },
}
</script>

<style></style>
