<template>
    <div>
        <div>
            <label>Name:</label>
            <input v-model="localContact.name" class="inputContactCreate" />
            <label>Surname:</label>
            <input v-model="localContact.surname" class="inputContactCreate" />
            <label>Mail:</label>
            <input v-model="localContact.email" class="inputContactCreate" />
            <label>Mobile:</label>
            <input v-model="localContact.mobile" class="inputContactCreate" />
        </div>
        <button class="SaveButton" @click="SaveButton">SAVE</button>
    </div>
</template>

<script>
export default {
    name: 'ContactCreate',
    data() {
        const localContact = {
            name: null,
            surname: null,
            email: null,
            mobile: null,
        }
        return { localContact }
    },
    props: { selectedContact: { type: Object, required: true } },
    watch: {
        selectedContact: {
            handler: function(newValue) {
                this.localContact = JSON.parse(JSON.stringify(newValue))
            },
            immediate: true,
        },
    },
    methods: {
        SaveButton() {
            if (
                this.localContact.id_contact == '' ||
                this.localContact.id_contact == null
            ) {
                this.$emit('clickSaveButton', this.localContact, 'new')
            } else {
                this.$emit('clickSaveButton', this.localContact, 'old')
            }
        },
    },
}
</script>

<style scoped>
.inputContactCreate{
    display: block;
}
.SaveButton{display:inline-block;
    font-size:15px;
    background:#fff;
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 40px 25px 10px #FF5E66;
    color:#fff!important;
    margin:10px;
    padding:10px 25px 10px 25px;
    transition:all .3s ease-out
}
.button:hover {
    color:#797979!important;
    box-shadow:0 15px 20px -10px rgba(0, 0, 0, 0), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 5px #FF5E66
}
.button:active {
    color:#797979;
    box-shadow:0 15px 20px -10px rgba(0, 0, 0, 0), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 20px 5px #fff;
    transition:all .1s ease-out
}
div{
    background-color: antiquewhite;
}</style>
