<template>
    <div>
        <button class="create-button" @click="newContact">New Contact</button>
        <ContactItem
            class="contactItem showForm"
            v-for="contact in contactList"
            :key="contact.id"
            :contact="contact"
            @show="showForm"
            @update="modifyContact"
            @erase="eraseContact"
        />
    </div>
</template>

<script>
import ContactItem from '@/components/ContactItem.vue'

export default {
    name: 'ContactList',
    components: { ContactItem },
    props: {
        contactList: { type: Array, required: true },
    },

    methods: {
        newContact() {
            this.$emit('newContact')
        },
        showForm(contact) {
            this.$emit('showForm', contact)
        },
        modifyContact(contact) {
            this.$emit('modifyContact', contact)
        },
        eraseContact(contact) {
            this.$emit('eraseContact', contact)
        },
    },
}
</script>
<style scoped>
div{
background-color:antiquewhite;
color:black;
}
.create-button {border-radius:4px;
    font-size:15px;
    margin:10px;
    color:#fff!important;
    display:inline-block;
    padding:10px 20px 10px 20px;
    background:#4299ef;
    box-shadow:0 15px 20px -10px rgba(0, 0, 0, 0), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 -16px 25px 0 #3273B3;
    transition:all .3s ease-in-out
}
.button:hover {
    text-decoration:none;
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 10px 15px 5px #377DC3;
    color:#fff!important
}
.button:active {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 50px 25px 10px #22578B;
    color:#333!important;
    position:relative;
    top:1px;
    transition:all .1s ease-in-out}
</style>
