<template>
    <div class="form">
        <p>Name</p>
        <span class="name">{{contact.name}}</span>
        <p>Surname</p>
        <span class="surname">{{contact.surname}}</span>
        <p>Mobile</p>
        <span class="mobile">{{contact.mobile}}</span>
        <p>Mail</p>
        <span class="mail">{{contact.email}}</span>
    </div>
</template>

<script>
export default {
    name: 'ContactForm',
    props: {
        contact: { type: Object, required: true },
    },
}
</script>


<style scoped>
div {
    background-color: antiquewhite;
    font-size: 25px;
}
</style>