<template>
    <div>
        <div class="full-name">
            {{ fullName }}
            <span>
                <button @click="show" class="show-button">show</button>
                <button @click="update" class="update-button">modify</button>
                <button @click="erase" class="erase-button">delete</button>
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ContactItem',
    props: {
        contact: { type: Object, required: true },
    },
    computed: {
        fullName() {
            let full = this.contact.name + ' ' + this.contact.surname
            return full
        },
    },
    methods: {
        show() {
            this.$emit('show', this.contact)
        },
        update() {
            this.$emit('update', this.contact)
        },
        erase() {
            this.$emit('erase', this.contact)
        },
    },
}
</script>

<style scoped>
.show-button,
.update-button,
.erase-button {
    display: inline-block;
    font-size: 15px;
    background: #fff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2),
        inset 0 40px 25px 10px #ff5e66;
    color: #fff !important;
    margin: 10px;
    padding: 10px 25px 10px 25px;
    transition: all 0.3s ease-out;
}
.button:hover {
    color: #797979 !important;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0),
        inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 5px #ff5e66;
}
.button:active {
    color: #797979;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0),
        inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 20px 5px #fff;
    transition: all 0.1s ease-out;
}
.full-name {
    background-color: antiquewhite;
    color: black;
}
div {
    font-size: 25px;
}
</style>
