<template>
    <div class="Footer">
        <p>Copyright 2020 &copy; Made without intellectual effort by César Castellano, Unai Madariaga, Sergio Bombien, Diego Robles</p>
        <p id="penascal">
            Powered by
            <a
                href="https://www.peñascalf5.org"
                target="_blank"
                style="color: white"
            >PeñascalF5</a>
        </p>
    </div>
</template>

<script>
export default {
    name: 'Footer',

    methods: {},
}
</script>

<style scoped>
.Footer {
    align-self: flex-end;
    background-color: rgb(54, 129, 158);
    line-height: 1px;
    border: 2px solid black;
    text-align: center;
    width: 100%;
    height: 75px;
}
</style>