<template>
    <div class="Header">
        <h1 id="text">LISTA CONTACTO</h1>
    </div>
</template>

<script>
export default {
    name: 'Header',
    methods: {},
}
</script>

<style scoped>
.Header {
    background-color: rgb(54, 129, 158);
    border: 2px solid white;
    padding: 15px;
    text-align: center;
    height: 100px;
    width: 100%;
}

</style>